body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: calc(100vh - 292px);
}

h1{
  text-align: center;
  padding: 2rem 0;
}

.navbar-nav{
  align-items: center;
}

.row{
  align-items: center;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover{
  color: rgb(136, 136, 136);
} 

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}

.btn-light{
  background-color: rgb(214, 214, 214);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.125rem;
  text-align: center;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.dark h5{
  color: white;
}

@media(min-width: 786px) and (max-width: 1065px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 574px) and (max-width: 785px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 573px){
  .card-grid{
    grid-template-columns: 1fr;
  }
}